[2015-06-23 00:55] whitenoiseoss opened #1 "Flesh out Race class"
The Race class is now ready to be fleshed out, as the underlying infrastructure is complete.

The required fields will need to be decided by the developer. A good start is already in race.py, but it's missing methods and properties that may be necessary, and it may need more or less fields. The OA rulebook should be consulted to make these decisions.

Any architecture/programming questions can go

[2015-06-23 00:58] whitenoiseoss opened #2 "Write docstrings"
Every method and class that is written for Ainneve should have a docstring in the Google style.

Examples can be found here: http://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_google.html
This work will coincide with Griatch's work here: https://groups.google.com/forum/#!topic/evennia/1t2mZSc0K1E

This issue will be ongoing.

<bountysource-plugin>

---
Want to back this issue? **[Post

[2015-06-23 01:25] whitenoiseoss opened #3 "Flesh out Character typeclass"
The Character typeclass is incomplete and needs a great many more methods.

At the time of this issue being written, it is only capable of being skeleton'd out for the most part. It should return certain properties (such as armor) and have any methods that it may need. Keep in mind Character is the base for NPC/Mob/etc. Things specific to things like Shopkeepers and beasts should not go in Charact

[2015-06-23 01:28] whitenoiseoss opened #4 "Write Room typeclass"
The base Room typeclass needs to be constructed.

This is a fairly easy task, but it will require knowledge of the Object API. Whoever writes this will be doing things like attributes for a short/long description, a dict or list for contents of the room, perhaps a room size, weight capacity, or something along these lines.

The methods written will do things like dictate how the appearance of a ro

[2015-06-23 01:30] whitenoiseoss opened #5 "Write AinneveArchetype skeleton"
AinneveRaces can be used as an example for this code. Whoever does this will need to write the Archetype class (new Python class) and then figure out if anything and if so what goes into the module's **init**.py.

In addition, this module will need to be tied into Plugger.

[2015-06-23 01:34] whitenoiseoss opened #6 "Write Character Generation"
This will involve creating a Room typeclass for character generation, a CmdSet for the character generation commands, and an understanding of the Character typeclass.

This will utilize MenuNode from the contrib unless decided otherwise.

This is not terribly difficult, but has a lot of moving pieces.

[2015-06-23 01:59] whitenoiseoss commented on #1
ChrisHC is working on this.

[2015-06-23 03:00] whitenoiseoss commented on #1
First PR merged here. Holding on this until more needs to be added. Additions are at the moment not clear.

[2015-06-23 04:53] Idioplex commented on #4
I've sketched out a crude representation of the island. I'm no cartographer and the scale is a bit wacky, but I think it should work for development purposes.
![ainneve_map](https://cloud.githubusercontent.com/assets/5454467/8299138/1fb6d1e8-1942-11e5-8fe1-3c6e3a7a8102.png)

I'll be fleshing out some ideas for the layout of Riverport during the next couple of days,

[2015-06-23 04:56] whitenoiseoss opened #8 "Design the world of Ainneve"
Design the world of Ainneve!

[2015-06-23 04:57] hallofnights commented on #8
I've sketched out a crude representation of the island. I'm no cartographer and the scale is a bit wacky, but I think it should work for development purposes.
![ainneve_map](https://cloud.githubusercontent.com/assets/5454467/8299183/de5e43c4-1942-11e5-9a18-f7f0781bf8b6.png)

[2015-06-23 10:34] Nadorrano commented on #3
Hi, I can help with an equip handler that has a number of advantages over the use of a simple dict, error checking, reporting items in the right order (from head to feet) and more. Can be easily expanded to collect modifiers from objects, stats etc. I attached it to the character typeclass as a property (evennia @lazy_property works too, but I don't know if it's risky), slots are loaded at init fr

[2015-06-23 14:37] ergodicbreak opened #9 "Start using Travis CI"
In order to add Evennia as a dependency to the build it seems like we'll have to commit a custom `./install-dependencies.sh` (to pull down Evennia) as well adding a pip requirements.txt .

[2015-06-23 16:13] whitenoiseoss commented on #3
Nadorrano, that sounds like some decent code you have there. However, you're primarily talking about equipment handling, and unfortunately we do not yet have any equipment Typeclasses coded, so that would make those pieces rather difficult.

I also think 'equip' should be part of a Player's Command Set, but the on_equip trigger I would like to put on the weapon typeclass.

I can create issues for

[2015-06-23 16:16] whitenoiseoss opened #10 "Create Item typeclass"
The Item typeclass needs to be created. This will be the base typeclass for all items in the game, such as (for example):

Weapon
Armor
Shield
Potion
and so on...

Item should be very general, something that **all** items would have. For example: value, name, short description, long description... and any properties/methods that would go along with these.

[2015-06-23 16:18] whitenoiseoss commented on #3
The issue for creating Item is now here: https://github.com/evennia/ainneve/issues/10

[2015-06-23 18:46] Nadorrano commented on #3
My at_equip hook at the moment is on the base object typeclass, however I prefer it on the Item typeclass, is more general than weapon I think.
And also why players? You don't want mobs to have an equipment?

See you at #10

[2015-06-23 18:48] Nadorrano commented on #10
I proposed to use an equip handler to administrate character equipment. Something like this:

https://github.com/Nadorrano/ainneve/blob/master/world/equip.py

it's completely modulare and is attached to the main Character typeclass as a property. More info in the doc in the module.

related commands:

https://github.com/Nadorrano/ainneve/blob/master/commands/equip_commands.py

If you folks like th

[2015-06-23 19:55] whitenoiseoss commented on #10
Nadorrano,

I think this looks great. There is a little bit of refactoring that will probably be done, but overall this would be very useful and a good addition.

For this to be implemented we need:
- Item typeclass
- Weapon typeclass skeleton
- Armor typeclass skeleton

On Item, lets have an on_hold method, and then we can save on_equip for a typeclass higher up that Weapon, Armor, Shield will re

[2015-06-23 20:31] Nadorrano commented on #10
The hierarchy is a delicate thing. Don't ask me, I like multiple inheritance and I have a tendency to overcomplicate things.

But why so many hooks are needed? Is not enough to have a single on_equip on the base Item typeclass that can be redefined appropriately on each child?

[2015-06-23 20:47] whitenoiseoss commented on #10
An "Item" does not need an on_equip, because most of the things that will come from Item cannot be equipped (for example, a book or a potion). They likely can be held, however, which is a different event than equipping something. on_equip and on_wear could potentially be the same.

Also, yes, multiple inheritance is usually a bad practice. However, I think Shield may require multiple inheritance.

[2015-06-24 21:28] Nadorrano commented on #10
My proposal:
to have on_hold and on_equip (maybe on_wield too) on the parent Item typeclass, both: pass.
Every child typeclass will overload needed methods and can be controlled by lock checks. Every hook is called by a different command hence they will strike independently. So you will get your hooks called correctly, if defined, when you wield your sword, or when you hold it in your hand, to be

[2015-06-24 21:36] Nadorrano commented on #10
Then we can simply derive Weapon and Shield from Item. And from these, more specific subclasses.

[2015-06-25 04:24] ergodicbreak commented on #10
`on_wield` and `on_hold` seem the same to me from a world model point of view; of course the player interface may be hold, wield, etcetera but is there a use case for different game effects when wielding vs. holding something?

I think `on_equip` is OK on Item because a character conceivably can hold just about anything they can put in their inventory (a book, potion, etc.).

[2015-06-25 12:25] Nadorrano commented on #10
Ok, I will put something together in the next hours.

[2015-06-25 18:10] Nadorrano commented on #10
Base item skeleton
https://github.com/Nadorrano/ainneve/blob/master/typeclasses/items.py
Equip Handler
https://github.com/Nadorrano/ainneve/blob/master/world/equip.py
Equip Commands
https://github.com/Nadorrano/ainneve/blob/master/commands/equip_commands.py

[2015-06-25 18:45] Nadorrano commented on #10
At the moment I put the hooks on the base Item, waiting for a better solution.
We have three hooks, at_hold, at_equip, at_remove. It should be enough, since every hook can access the character equip to check the state of the object and knows who is the character.
Slots, as a list, are loaded by the **init** function, not linked to the race yet, but some default slots are present.
At the moment thr

[2015-06-26 05:54] ergodicbreak commented on #10
Sounds good.

Rereading @whitenoiseoss earlier comment about on_equip on item I realize I didn't see that he distinguished between equip and hold, which makes perfect sense. However I don't think we lose much by putting on_equip on Item.

[2015-06-28 19:20] MrDowntempo commented on #8
Let's get this going so we know what we're doing when we're ready to build rooms. I think before we start drawing maps we need a bit more of an idea of what we're dealing with. What races do we have? What are their cultures like? What environments/climates do they live in and how has that affected their cultures? What's the overall tech available? etc.

If we're going fairly generic we've got tree

[2015-06-29 05:52] ergodicbreak commented on #8
@MrDowntempo, I started a thread on the ML to sort out just these kinds of questions, here https://groups.google.com/forum/?fromgroups#!category-topic/evennia/pixvX8mncn0 .

For speed and simplicity's sake we're going to concentrate our content in three main quests, each composed of three tasks (one per level in this three level example game). Let's start simple and focus on designing the first qu

[2015-06-29 05:52] #8 closed, assigned to nobody

[2015-06-29 05:59] ergodicbreak opened #14 "Design the Warrior quest"
For some context see https://groups.google.com/forum/?fromgroups#!category-topic/evennia/pixvX8mncn0 .

Ainneve will have a quest for each character archetype (Warrior, Scout, and Arcanist), and each quest will have three tasks to complete, one for each level (Ainneve is a three-level game).

I was thinking that the first level tasks will be in Riverport, the starting town. So to start we'll need

[2015-06-30 01:51] ergodicbreak commented on #10
If @whitenoiseoss has no more review for this PR I'd like to merge; I'll wait until tomorrow.

[2015-06-30 03:42] ergodicbreak commented on #5
I'm going to have a go at this, if someone has started on it please chime in.

[2015-06-30 16:57] Nadorrano commented on #10
Yep, I'm waiting for feedbacks. My pull request is #13 let's move there to comment the code.

[2015-06-30 21:04] Tirit commented on #4
I have a default room concept I've been working on that I can contribute, and further develop for this issue.

[2015-07-01 05:41] ergodicbreak opened #15 "Move Trait to ./world module"
Currently trait.py is in ./utils, but it is really part of the core game systems and so belongs in ./world.

Will need to update import in ./typeclasses/characters.py

This is a good task for a beginner to get experience with Git and pull requests.

[2015-07-01 06:50] ergodicbreak commented on #5
Now working on this in branch https://github.com/evennia/ainneve/tree/archetypes.

[2015-07-02 06:17] ergodicbreak commented on #14
Based on discussion with Icarus in IRC we developed this sketch, https://github.com/evennia/ainneve/wiki/World-Content#quests-and-area-design

[2015-07-02 14:53] ergodicbreak commented on #15
Thanks @time- !

[2015-07-02 14:53] #15 closed, assigned to nobody

[2015-07-03 03:42] ergodicbreak commented on #10
Thanks for waiting @Nadorrano, I'm starting review myself and will comment on the PR.

edit: I've finished my comments, thanks Nadorrano! Let me know what you think about my suggestions.

[2015-07-03 04:10] ergodicbreak commented on #10
@Nadorrano I should add that you may want to create a separate branch for this PR and resubmit; I'm not sure but I think Github will automatically add any future commits on your master branch to this PR, which you probably don't want. See http://codeinthehole.com/writing/pull-requests-and-other-good-practices-for-teams-using-github/

[2015-07-03 08:59] time- commented on #4
I'm working on it. George told me to do PR on feature branches and not on master. May you start a branch for room-related features? I wrote a wiki page and I'll prepare basic room struct for tonight I think.
link to wiki: https://github.com/time-/ainneve/blob/rooms/typeclasses/Rooms.md (edit: it's a work in progress)

[2015-07-03 12:03] Nadorrano commented on #4
I read the valuable discussion on the IRC log and saw your wiki! nice work! The problem I see, is that some flags are static while other should be dynamic. Also every flag should be aware of the other flags, for compatibility.
I have a quick idea, but I have to think to all consequencies, just a brainstorming. Python can make static things dynamic, can we use this?
Flags in the dict can instead re

[2015-07-03 13:12] Nadorrano commented on #10
@ergodicbreak Nice, I replied to comments. It is not clear to me if I have to create a branch from my fork or I have to fork a branch created by you...  I'm a github newb so I'll read that article, thanks!

[2015-07-03 13:26] time- commented on #4
Yes I like it. I try to write down something so you can check it as I don't know if I've understood everything.

[2015-07-03 14:51] ergodicbreak commented on #4
@Nadorrano I like where that is going.

@time- just to clarify, you can develop on your own feature branch, then make a PR against the main Ainneve master.

[2015-07-03 14:53] ergodicbreak commented on #10
@Nadorrano I'm a beginner to Github too but I think you create a branch, and then make a PR against the main Ainneve master.

[2015-07-04 00:13] ergodicbreak commented on #4
@time- Griatch made a good comment I just read in IRC log, check out Evennia tags as a possible datastructure for flags/sectors. https://github.com/evennia/evennia/wiki/Tags

[2015-07-04 14:34] stefanludlow commented on #14
Icarus here, will be working further on this particular task.

[2015-07-05 16:28] #10 closed, assigned to nobody

[2015-07-05 16:28] #1 closed, assigned to nobody

[2015-07-05 16:29] whitenoiseoss opened #19 "Write unit tests"
Write unit tests for everything, once TravisCI is working.

[2015-07-05 16:34] whitenoiseoss opened #20 "Create Archetype Starter Gear"
Write and create Starter Gear for each Archetype. This can be a joint effort between a builder and a coder.

On the builder side, what is needed:
Item short and long descriptions (i.e., "This breastplate is made of a fine..." and "a fine, leather breastplate")
What slots the item will take up
Any effects of the item (is it cursed? does it boost a stat? does it give health regen?)

On the coder sid

[2015-07-05 22:03] ergodicbreak commented on #19
I wrote a minimal example here,  https://github.com/evennia/ainneve/commit/479b9c34a0cab557b50936fa8a04778b8b6f88a4

[2015-07-05 22:06] ergodicbreak commented on #9
The custom .sh wasn't really necessary, we are now passing Travis with https://github.com/evennia/ainneve/commit/6fe2cec0a77e0572e7a6a0e4e304b22bf38e6f5d

[2015-07-05 22:06] #9 closed, assigned to nobody

[2015-07-06 05:50] ergodicbreak commented on #5
@ChrisHC I was considering merging my branch to master. Would you like to make a PR with what you have for archetypes? Perhaps we could merge the more developed one or combine the good parts of both branches.

[2015-07-06 08:50] time- commented on #4
Tags are cool, but we need to hardcode some default tags to be checked by other game mechanics.
We can't allow to tag a room as "obscure" if the look command checks for "is_dark" tag, agree? Any ideas to realize this? I'm thnking about a list and add a @buildtag command that inherit from @tag, but allows only in-list tags (tags could be added later, based on mud-features).
About sectors? Can I go

[2015-07-06 21:20] whitenoiseoss commented on #5
VoidFox also did this. I merged VoidFox's so we would stop wrecking on this issue.

[2015-07-07 02:38] ergodicbreak commented on #5
Talked to VoidFox in IRC and this was just an accidental merge of unrelated code, going to keep this issue open for now.

[2015-07-07 09:00] Nadorrano commented on #4
Hi, if you still need some advice, I think this class could cover almost any descripted situation, maybe you can try to follow this scheme. If the flag is found the check method return True, but if a property with the same name is found on the parent typeclass its value is returned instead.

[code]

[2015-07-07 11:38] time- commented on #4
@Nadorrano
awesome! thank you!
I merged your code and fixed some stuff in mine. This handler stuff is very cool.
I want to rewrite the .lists method to avoid copying the @tag code as I did :P but I'll check it later.
For now it works, I fixed the @flag command into build.py, adding handler methods.
As I finish sectors I merge all and PR
https://github.com/time-/ainneve/tree/rooms
I'll fix wiki as

[2015-07-07 12:32] Nadorrano commented on #4
You can add the handler to the base Object typeclass as a property:

[code]

Then you can access it: `obj.flags.check('is_water')`

pay attention that evennia tags are all lowercase (I think, has to recheck this)

[2015-07-07 15:47] time- commented on #4
@Nadorrano all done :) thanks a lot mate.
I also used your tip with sectors. They are not classes anymore but they are set as property. I'm gonna update it with some modifications (default move-points, default capacity, etc) as I was doing with sector classes.
Almost there :D

[2015-07-07 17:15] stefanludlow commented on #20
Something like this?
https://docs.google.com/spreadsheets/d/1tfFeUwPevYVYujLfVxOrh89Lu7ypVOTBuoZH7yLyiGs/edit?usp=sharing

[2015-07-07 21:59] Nadorrano commented on #20
The equip handler is ok with hosting objects that take up more than one slot, however commands have to be reworked a little bit to do that.

Edit: now it is supposed one slot one item, we can use Feet for boots so we don't lose the possibility to have different earrings, rings etc. These items should have slot = ['left ear', 'right ear'], with the meaning "take the first empty slot among these"

[2015-07-07 23:49] whitenoiseoss commented on #20
@kaine904 that is a good start yes

[2015-07-08 15:43] ergodicbreak commented on #5
Remaining todo:
- update dual archetypes with new archetype name (e.g. 'Warrior-Scout'). Simple way, add a 'name' string, fancy way, update subclass dynamically
- Tie into plugger

archetypes branch is up to date with master, someone else can take the ball on this if they'd like a nice self-contained task.

[2015-07-08 18:37] Nadorrano commented on #20
@ergodicbreak @whitenoiseoss

Would you like this approach:

[code]

It will allow to print pretty much every possible combination of limbs/slots vs items

[2015-07-09 02:25] ergodicbreak opened #24 "Add limbs as well as slots"
This is coming up in #20 and I've seen some discussion in IRC. Do we have a good use case for including equipment slots _and_ a separate simulation of limbs? It seems like having both may make integration with combat code slightly easier, if we have effects for targeting/hitting limbs, but I'm not wholly convinced we can't do the same thing with just slots. Your thoughts?

[2015-07-09 02:26] ergodicbreak commented on #20
@Nadorrano @whitenoiseoss I'm going to split this slots/limbs discussion off into a new issue at #24.

[2015-07-09 06:02] time- commented on #24
It depends. Is armor able to take damage? In this case, maybe having limbs _with_ slots is better, as you can hit a specific limb and if it's equiped with a piece of armor, that will be damaged if that's the case.
Otherwise, if we wanna add some more slots that ain't limbs like a light-only slot (ball of light?) or a floating-around slot, it could be coded separately. We'll have limbs **and** slot

[2015-07-09 06:38] ergodicbreak commented on #24
After discussion in IRC with time- and whitenoise, we'll go with slots as described by time- in the previous comment. Character will have slots and limbs. Limbs are hittable slots basically. Non-hittable slots are like earrings, necklace, rings, lightsource, etcetera. We may want a max number on slots so for example you can wear multiple necklaces, or perhaps it makes better sense to just add more

[2015-07-09 06:46] ergodicbreak commented on #20
Per #24, we'll have slots and limbs where limbs basically are hittable slots. Eq can take up multiple slots. I think we may want a max number on slots, so for example you could wear multiple necklaces.

[2015-07-09 08:30] Nadorrano commented on #24
Ok, I'll take care of that since it's inherent to equip

That's not an issue, just have neck1 and neck2 both printed as Neck and that's it.

My questions:
- should "a necklace" take neck1 OR neck2 and a "big neckchain" take neck1 AND neck2?
- Feet, legs, arms and glove slots (slot, not limb!) should be separated (left, right)? This is possible but would be a pain for builders, also if we have limb

[2015-07-09 12:51] Nadorrano commented on #24
We were just two lines of code behind the requested features --> PR #25 .

Now objects can occupy multiple slots. A small necklace will take one of ['neck1', 'neck2'], a big necklace will take both. To achieve this I added a `slot_operator` attribute to items, which can be 'AND' or 'OR'.
We can also have full body armors that take torso+arms or anything else.
Bonus: two-handed weapons popped out m

[2015-07-09 13:10] stefanludlow commented on #24
How should we document gear, considering this change? Is there a preferred
format?

On Thu, Jul 9, 2015 at 8:51 AM, Nadorrano notifications@github.com wrote:

[2015-07-09 13:26] Nadorrano commented on #24
I think the building side is not changed, we have typeclasses with slots already defined at "code level".
If you update your list of starting items I will add the corresponding typeclasses, with the slots correctly placed. Just write a loose indication of which slots the item should occupy.

[2015-07-09 13:39] stefanludlow commented on #24
Roger. If you have a template of building commands that would be used for
these, I'm happy to put them in that format as well.

On Thu, Jul 9, 2015 at 9:26 AM, Nadorrano notifications@github.com wrote:

[2015-07-09 13:54] Nadorrano commented on #24
I think we'll use `@spawn`, or a variation of it.
https://github.com/evennia/evennia/wiki/Spawner
We need to create a file containing templates for every object we have to build (see examples). Every object should be connected to the appropriate typeclass.

[2015-07-09 14:41] ergodicbreak commented on #24
@Nadorrano I think that limbs -> slot mapping makes sense. If you get hit in the right foot, we don't want to keep track of damage only to right boot no? So sounds good to me.

@kaine904 `@spawn` works, its more verbose cousin is @create (see the file https://github.com/evennia/evennia/blob/master/evennia/contrib/tutorial_world/build.ev). Let's move this part of the discussion back to #20

[2015-07-09 14:56] Nadorrano commented on #24
I don't know if I get the meaning of this sentence correctly, however, If we have two boot objects, one per foot, we can keep track of it, if we have "a pair of boots", of course it's a single object and both left and right damage go to the single slot 'feet'. Both are allowed, now it's just a builder thing.

[2015-07-09 15:26] ergodicbreak commented on #14
@kaine904 I'm planning to take on the Arcanist quest, do you have anything you want to show for Warrior that I can coordinate with?

[2015-07-09 15:27] ergodicbreak commented on #24
You have the meaning of it, by "don't want" I mean we don't need to track that level of detail. Pair of boots is better for our case.

[2015-07-09 15:31] ergodicbreak opened #26 "Design the Arcanist quest"
I'll be taking this on and writing notes at https://github.com/evennia/ainneve/wiki/World-Content#quest-background, suggestions welcome. See #14 as well.

[2015-07-09 16:45] stefanludlow commented on #14
Nothing yet, we probably should design the town and the bandit hideout ASAP.

[2015-07-10 04:05] ergodicbreak commented on #6
@whitenoiseoss will write out the framework to give everyone something to work from.

[2015-07-12 09:24] Griatch opened #27 "Refactor: Use django.conf.settings instead of server.conf.server"
E.g. at

https://github.com/evennia/ainneve/blob/master/typeclasses/characters.py#L19

the settings module is directly imported as `from server.conf import settings`. This is explicitly _not_ recommended in Django, you should always use `from django.conf import settings`. See [the django settings docs](https://docs.djangoproject.com/en/1.8/topics/settings/#using-settings-in-python-code); there is

[2015-07-12 16:37] ergodicbreak commented on #27
Thanks Griatch, today I learned something about Django :). Going to push a fix.

[2015-07-12 16:38] #27 closed, assigned to nobody

[2015-07-12 16:55] ergodicbreak commented on #26
There is now a rudimentary map of Riverport at https://docs.google.com/spreadsheets/d/12DVWa-X3J8aXSxRQ5u53gDrFjIGq_gPyQvywxuDhhuU/edit?usp=sharing . If you'd like to edit it get in touch and I'll add you to the sheet.

[2015-07-12 16:57] ergodicbreak commented on #14
@kaine904 Working on the town layout, see https://docs.google.com/spreadsheets/d/12DVWa-X3J8aXSxRQ5u53gDrFjIGq_gPyQvywxuDhhuU/edit?usp=sharing

[2015-07-14 14:10] ehussong commented on #24
All numbers in the following post are purely for example and explanation of concepts.

What about adding a sort of..."capacity"...to item slots? For example the multiple necklaces as stated above. Instead of having a neck1/neck2 slot and making "a giant necklace" that takes up both slots - give it a capacity of "bulk" or some sort instead. Eg. Troll Warrior has neck capacity/bulk of 30. He can wea

[2015-07-14 14:44] ergodicbreak commented on #24
So it sounds like a per-slot encumbrance maximum (but also with minimum requirements)? You're right, this is too in-depth for the example game, it could be useful for a more advanced system.

We do want to add encumbrance, it would be good to open a separate issue for that.

We do have a size attribute, so we can make eq that requires a minimum size.

[2015-07-15 04:08] ergodicbreak opened #28 "Create automatic NPC stats script"
Using the 'Custom Enemy Stats' table (on the NPCs sheet in this doc, https://docs.google.com/spreadsheets/d/12DVWa-X3J8aXSxRQ5u53gDrFjIGq_gPyQvywxuDhhuU/edit?usp=sharing), write a script that generates acceptable NPC stats. See page 81 (_Creating Custom NPCs_) of the [OA red book](http://www.geekguild.com/openadventure/files/rulebook/v2/openadventure_beta_v2.pdf) for more information.

Design the

[2015-07-16 05:39] abbacode opened #30 "Overhead mapper"
Is it possible to include a basic overhead mapper to the game which can be toggled on or off?

[2015-07-16 09:30] abbacode opened #31 "Design the ability system"
Hi all,

Creating this so we can have clarity around how the ability system will work.
## Objectives from IRC discussion
- Ability system based on Open Adventure rules
- Abilities can be either skills or spells, unique structure for each
- Players will start with all abilities during character creation
- Players will have ability points to distribute during character creation
- Ability points can

[2015-07-16 12:07] Nadorrano commented on #31
Hi, I have little time in this period and I didn't follow the IRC discussion. I apologize if this has already been discussed.

Point 2:
This is a problem that has to be solved at a global (archetype) level, not just for skills and spells.
Can't we make archetypes as properties? so that archetype data is stored in modules and not in database? In this way if, in the future, we want to add/remove ski

[2015-07-16 14:46] ergodicbreak commented on #30
Yes, but note that we are not building on a coordinate plane, so it's possible the mapper will have some non-logical connections to deal with.

[2015-07-16 14:58] ergodicbreak commented on #31
I'll have time to comment on this later tonight but for now I want to drop this relevant link,

https://github.com/evennia/evennia/wiki/Typeclasses#updating-existing-typeclass-instances

which supports @abbacode's concerns.

[2015-07-17 01:15] ergodicbreak commented on #24
Closing as I think we're settled on this issue.

[2015-07-17 01:17] ergodicbreak commented on #4
Closing as this was merged in #22

[2015-07-17 01:17] #4 closed, assigned to nobody

[2015-07-17 05:01] ergodicbreak commented on #31
I am still thinking about the central issue of data driven. @abbacode it would be helpful I think to lay out a few scenarios/use-cases, regarding the core game mechanics of archetypes, races, abilities, etc., that could guide us here. For example,

_Scenario 1: every spell its own instance in Character.spells_
Fireball spell causes 10 damage. Devs raise it to 15. Need to loop through all Character

[2015-07-17 11:00] abbacode commented on #31
What if we only assigned attributes to the character database if the attribute is unique and specific to the character.  Skills and spells are not unique, we're aiming to give characters access to ALL skills and spells as part of Ainneve.

It would make sense to have skills and spells defined as a global object that is not tied to any user.  Any time a character needs to use a skill or cast a spel

[2015-07-17 11:11] Griatch commented on #31
@abbacode

Just a request for word clarification here: What do you mean when you write "global skill database"? When I hear "database" I'm thinking an actual database table but is that really what you are suggesting for storing skill data?
.
Griatch

[2015-07-17 11:16] abbacode commented on #31
Sorry Griatch, I should have been more explicit.  I just mean some mechanism of storing attributes.  Most likely a dictionary which references a class.  The reason I use the term global database is that it's accessible from anywhere in the code because we can import it as a module.

Update: so technically, this information is just stored in memory every time the server is started, or re-initialize

[2015-07-17 18:07] whitenoiseoss commented on #31
Anything is accessible from anywhere, if it's in Python code or in a database. This does not actually fit the definition of "global" (nor should it) and it's not really a database, it's just an object. So you're just talking about an object that stores abilities.

Also, you're still not understanding how Attributes work. The changes will apply the same, whether you put them on a Character's attrib

[2015-07-18 19:00] ergodicbreak commented on #31
@abbacode and @whitenoiseoss I think the goal is to, as the link https://github.com/evennia/evennia/wiki/Typeclasses#updating-existing-typeclass-instances mentions, "avoid having to retroactively update objects more than necessary". _Not_ putting an instance of an ability in Character is how to achieve this. Of course Character still needs to hold the value/rank of the ability and any Character-sp

[2015-07-21 19:47] ergodicbreak commented on #24
@Nadorrano I just realized we haven't added limbs; can you commit the mapping of limbs -> slots as in https://github.com/evennia/ainneve/issues/24#issuecomment-119951886 ?

[2015-07-21 19:57] ergodicbreak opened #32 "move become_race from Character to Race"
@whitenoiseoss I'd like to slim down the `Character` class to emphasize the modularity of Ainneve overall, and I think moving `become_race` to `Race` makes sense (changing the intent to something like `apply_race`). Thoughts?

[2015-07-21 19:59] ergodicbreak commented on #5
Added naming in 34cb6249c828e57317b6d4560baa0fc49a1a0cd6

[2015-07-21 20:04] ergodicbreak commented on #30
@abbacode are you taking this on or should we close this issue?

[2015-07-21 20:14] Nadorrano commented on #24
@ergodicbreak I've been a lot busy in the last days due to my work, I will do this tomorrow!

[2015-07-21 20:17] ergodicbreak opened #33 "move primary/secondary traits out of Character to integrate with Archetypes"
Part of the effort to slim down `Character` and make things modular. Since it's really Open Adventure archetypes that define primary traits, and we derive secondary traits from primary traits, I propose integrating primary/secondary traits with archetype and moving them out of Character altogether.

By integrating I mean the archetype base template will instantiate Traits, like we have in `Charact

[2015-07-21 20:19] stefanludlow commented on #33
I second that.

On Tue, Jul 21, 2015 at 4:17 PM, George Oliver notifications@github.com
wrote:

[2015-07-21 20:26] ergodicbreak opened #34 "move mod_stat out of Character"
Currently the function `mod_stat()` in `Character` basically is a custom rule about the Mana secondary trait. I think we should consider integrating this in some way with `Trait`, so that traits can have custom rules about their minimums/maximums. Then we can remove this from `Character` altogether.

[2015-07-24 17:02] Nadorrano commented on #24
Slots and limbs done, PR #37

This is a preview:

[code]

[2015-07-25 05:13] ergodicbreak commented on #24
Great Nadorrano, thanks!

[2015-07-25 05:13] #24 closed, assigned to nobody

[2015-08-02 19:42] ergodicbreak commented on #5
Plugger is not done, but merging this to get the ball rolling on character creation. We can add plugger later as needed.

[2015-08-02 19:42] #5 closed, assigned to nobody

[2015-08-02 19:51] ergodicbreak commented on #14
hi @kaine904, wanted to check on your availability for this task, no worries if other things came up. Let me know if you need something from me to carry on from where you left off.

[2015-08-02 19:52] stefanludlow commented on #14
Apologies on no progress! Let me touch base with where the project is at.

If anyone else wants to take it on, they are welcome to!

On Sunday, August 2, 2015, George Oliver notifications@github.com wrote:

[2015-08-02 19:54] ergodicbreak commented on #20
@kaine904 would you like to continue this as well?

[2015-08-03 02:56] stefanludlow commented on #20
Let's touch base on general status.

Sent from my iPhone

[2015-08-28 15:53] feoh opened #39 "'get barrel' in tutorial elicits a traceback."
I was using a newly created player with no extra privs:

[code]

[2015-08-31 03:02] ergodicbreak commented on #39
This bug looks like an effect of the reorganization of Ainneve's world dir, so Evennia is not finding the default prototype module path. Can you confirm this works on vanilla Evennia without using Ainneve?

[2015-09-08 14:07] feoh commented on #39
@ergodicbreak That's correct, when I run through the tutorial in Evennia proper (No Ainneve) I don't get the traceback.

[2015-09-18 13:09] thinkt4nk commented on #39
+1

[2015-10-04 16:02] feoh opened #43 "evennia start throws stacktrace in ainneve"
[code]

[2015-10-05 14:31] whitenoiseoss commented on #43
This is due to the **str** method on Trait. I can fix this.

[2015-10-05 14:42] feoh commented on #43
Cool beans!

We should get some continuous integration going here :)

[2015-10-10 16:47] knoxx093 commented on #28
Request for clarification: "Design the script so that it generates random stats following logical templates ('veteran fighter', 'street brawler', 'humble citizen', etcetera)."

Should the script be given a "template" and then generate stats based on that, or is it just expected to give a proper name to a given set of generated stats? Or am I misunderstanding entirely?

[2015-10-10 16:52] ergodicbreak commented on #28
@knoxx093 you've got it right, generate stats based on the template, which would give an acceptable range for each stat.

[2015-10-17 02:01] #43 closed, assigned to nobody

[2015-10-23 06:06] openadventure commented on #30
I would like to help! I have a few ideas which can be found here: https://docs.google.com/document/d/10C6YXdniCYWOX0HlYtR5RW2EBlsqscJBCJnjVr_-0WQ/pub

[2015-11-06 15:10] feend78 commented on #20
Hey, I'm interested in helping out with Ainneve, and have been looking at this issue and reading the OA manuals over the past couple days. Is anyone still actively working on this?

Between the information documented in this issue, the associated EquipHandler and slots discussion referenced above, the wiki, and the OA manuals, I think I could make a stab at it.

[2015-11-07 06:30] ergodicbreak commented on #20
@feend78 there hasn't been much Ainneve development lately, but I and probably @whitenoiseoss are available to work with you on this. We would definitely appreciate your contribution.

[2015-11-08 15:52] Nadorrano commented on #20
Hi, happy to see that someone is still partecipating in this project! If you are working on this, @feend78, I have a request. That `slot_operator` attribute on items is ugly (is my code), it could be better refactored to `self.db.multi_slot = True/False` or similar. Then line 188 of `equip.py` should be changed to:

[code]

Would you make these changes for me?
 thx and good coding

Edit: only if y

[2015-11-08 17:53] feend78 commented on #20
Hi @Nadorrano, I like that solution, and have changed it and updated the PR.

[2015-11-08 18:08] feend78 commented on #39
It seems to me that we probably don't want to encourage people to build the Evennia tutorial world in the first place. A solution for this would be to modify BASE_BATCHPROCESS_PATHS in settings.py to no longer include the default Evennia locations, and specifically only the **world** directory instead.

That's a super easy change, but then we would need to somehow update the description for _Limbo

[2015-11-08 22:16] feend78 commented on #39
I dug a little further into this, and the error is occurring because in ainneve:master, the module that settings.py points to for prototype definitions is not present. This issue could be worked around by creating an empty file **annieve/world/prototypes.py**. I want to hold off on submitting this as a fix, though, because in response to Issue #20, I've already submitted a pull request that modifi

[2015-11-09 04:15] ergodicbreak commented on #39
Agreed that we don't really need to support the tutorial world. Will leave this open until the PR from @feend78 fixes.

[2015-11-11 06:06] feend78 commented on #33
I'd like to take a shot at this, @ergodicbreak, as it seems this will have to be addressed before I can continue with the equipment effects/abilities part of the starter equipment PR.

I was sort of envisioning that individual Archetype classes that are there now could go away, and the data they encapsulate could be moved into the archetypes module. I'd then write a series of functions that would

[2015-11-11 06:58] ergodicbreak commented on #33
Looking back on it I made them classes to facilitate base trait templates and dual archetypes, but you could do that with dictionaries and functions, it might require a little more code I suppose.

Your overall plan sounds good, if by "the traits collection of Trait objects on the character handles stat checks and buffs/debuffs/etc." you mean traits can report their value and increase/decrease the

[2015-11-11 07:58] feend78 commented on #33
Yes, I was mostly planning on using the Trait class that's in master already. It has the base value/increase/decrease functionality mostly fleshed out. I assume that the traits within the traits collection will be accessed directly by the rulebook module or passed into rulebook functions from within a Command for the actual checks. The traits collection itself will probably just be a plain dict, o

[2015-11-11 15:35] ergodicbreak commented on #33
Yes you're on the right track, thanks @feend78 .

[2015-11-11 16:00] Griatch commented on #26
@ergodicbreak

I like the map! One thing that struck me is the width of the river though; just to check: will boating be supported? Or swimming? Otherwise I suppose those mid-water rooms will never be visited and a double-width river should be enough.

[2015-11-12 04:36] ergodicbreak commented on #26
Thanks Griatch, that's a good point. Swimming and boating aren't planned (though would be fun to do).

[2015-11-25 07:38] ergodicbreak commented on #30
@openadventure my greatest apologies, I didn't see your comment until today. I'm closing this particular issue but I'm going to copy the link to your doc over to the wiki here https://github.com/evennia/ainneve/wiki/World-Content#quests-and-area-design . I like that storyline and we can integrate/replace the sketch of the storyline on the wiki now with what you have in your document. Feel free to

[2015-11-25 07:38] #30 closed, assigned to nobody

[2015-11-26 18:57] feend78 commented on #32
I plan to take this one on next. Now that there is a basis for character traits, it should be fairly easy to build all the necessary chargen support functionality into a world/races.py module, similar to how archetypes was done.

[2015-11-27 06:19] kylemecklem commented on #28
Please note: I have created a far-more robust and detailed "Custom Character Creation Manual" for Open Adventure which is free & open source. This document can be read and followed here: https://github.com/openadventure/Open-Adventure/blob/master/secondary_projects/custom_character_creation_manual/custom_character_creation_manual.pdf

This document should be used rather than the older method as ou

[2015-11-28 04:40] ergodicbreak commented on #28
Thanks @kylemecklem, your doc is looking good.

Mentioning @feend78 here if he'd like to keep up to date on the NPC/eq doc as well.

[2015-11-29 05:12] ergodicbreak opened #50 "fix `CharTraitsTestCase` failure"
There's a wily whitespace problem with this test case, https://github.com/evennia/ainneve/blob/master/commands/tests.py#L17,  that I've tried and failed to track down.

My test output (on Windows and Travis) is identical with a local diff, but the test itself fails. However using an online diff tool, I see some weird spaces after "Magic" and "Carry Weight", which coincidentally have some custom wh

[2015-11-29 05:49] ergodicbreak commented on #50
Note that this is now fixed in pending PR #49, will close this when we merge.

[2015-11-29 06:52] feend78 commented on #31
@ergodicbreak, this is the next step, as I see it, to getting character generation together. In looking at the OA rules for skills/abilities, and the listing of skills from the wiki, the skills seem like they could be represented by another set of Traits on the character. Then, individual action commands can be written later that do the actual skill checks against the characters' skills to determi

[2015-11-29 20:22] ergodicbreak commented on #31
@feend78 your skill/spell representation sounds good.

We originally included melee/ranged to limit the scope of the project since they are simple to implement, and Ainneve is a three level game, but thinking about it now it would be useful to have the extra action skills. Survival however seems less useful given the size of the game world, I'll think about that.

[2015-11-29 22:33] feend78 commented on #31
@ergodicbreak,

Yeah, I can see how Survival might be not so useful. The problem is that so many of the Intelligence abilities have a specific category associated with them, and I think the OA manual says that that means players can choose a different category for each adventure, in consultation with your GM so that it's applicable to that adventure. Given that, I feel like most of them would be h

[2015-11-29 23:46] #50 closed, assigned to nobody

[2015-11-30 02:19] #34 closed, assigned to nobody

[2015-11-30 02:19] #33 closed, assigned to nobody

[2015-11-30 02:19] #32 closed, assigned to nobody

[2015-11-30 02:20] ergodicbreak commented on #6
A note that @feend78 is moving on this.

[2015-11-30 02:22] ergodicbreak commented on #3
I think we have this in hand, we can open more specific issues if necessary.

[2015-11-30 02:22] #3 closed, assigned to nobody

[2015-11-30 03:00] ergodicbreak opened #51 "Design the combat system"
I wrote a preliminary document based on OA here, https://docs.google.com/document/d/1RQGGoua7Xp0-AAwb75A3MMIaDnnXLCVM3RYVCztiXiI/edit?usp=sharing

[2015-12-06 04:43] feend78 commented on #39
That PR went through a while ago. I think this can be closed.

[2015-12-06 07:25] ergodicbreak commented on #39
IIRC @feend78 closed that PR before merging, in order to work on other things first? Looking at our settings.py I don't think the change was merged in any case.

[2015-12-08 15:25] ergodicbreak commented on #39
Fixed by #53

[2015-12-08 15:25] #39 closed, assigned to nobody

[2015-12-08 16:54] feend78 commented on #31
I would advocate for this issue being closed now that #52 has been merged. The remaining items that it discusses are more related to individual command/skill implementations than the overall Skills system, and I imagine each implementation might warrant its own issue/discussion.

[2015-12-09 01:22] ergodicbreak commented on #31
Agreed, thanks @feend78 .

[2015-12-09 01:22] #31 closed, assigned to nobody

[2015-12-09 01:23] #20 closed, assigned to nobody

[2015-12-09 11:45] Griatch opened #54 "Feature Request: Changes to the TraitFactory"
@feend78, @ergodicbreak, @whitenoiseoss

I have looked more closely into the handling of Traits/TraitFactory after a user asked me about implementation details. I have some suggestions from the perspective of core Evennia:
1. To keep consistency with Evennia's source, I suggest that the `TraitFactory` class is renamed to `TraitHandler` since it works basically like a handler in Evennia (from the o

[2015-12-09 14:44] feend78 commented on #54
@Griatch: all of these changes seem fairly straightforward and easy to implement. I originally didn't put add/remove/clear on the TraitFactory partly because I like the idea of them being fairly static, in that I had not anticipated a use case where a new Trait would be added to or removed from the traits collection on the fly, and partly because of my unfamiliarity with Evennia and the structure

[2015-12-09 15:09] Griatch commented on #54
@feend78

Cool. :) To explain, `@lazy_property` is basically an on-demand loader: It potentially speeds up original initialization of an object and makes sure to not initialize handlers until they are actually accessed in some form. It may or may not save some memory, but should at least not hurt. :)

Another thing I forgot to mention is that `_SaverDict` actually only exists for Attributes create

[2015-12-09 21:21] feend78 commented on #54
Go ahead and assign this one to me if you want, @ergodicbreak. I've already made the code changes locally; just have to update docs and tests and it'll be ready.

[2015-12-12 16:53] #54 closed, assigned to nobody

[2015-12-12 19:18] kylemecklem commented on #51
Related to combat, I have create a set of combat-centric spells. There are a number of tier 0 spells for starting characters, as well as some tier 3 spells which have as of yet been unassigned.

https://docs.google.com/document/d/10C6YXdniCYWOX0HlYtR5RW2EBlsqscJBCJnjVr_-0WQ/edit#

Only two spells are needed for each tier per black and white magic. I made extras so as to have a selection to choose

[2015-12-31 20:51] feend78 opened #57 "Enhance return_appearance on Character Typeclass"
The character typeclass is currently using the  default `return_appearance` hook implementation from DefaultCharacter/DefaultObject, which isn't aware of the difference between inventory items and equipped items, and displays all of the character's items to anyone looking at it.

Ideas for improvements to `return_appearance`:
- Perception checks to give more or less detailed messages to the looker

[2015-12-31 21:18] ergodicbreak opened #58 "Tracking Ainneve world development"
This issue is to help people stay on top of updates to the Ainneve world design doc located at https://docs.google.com/document/d/10C6YXdniCYWOX0HlYtR5RW2EBlsqscJBCJnjVr_-0WQ/pub under development by @kylemecklem .

As items in that doc become canon we should move them to the source repository or the project wiki.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:

[2015-12-31 21:19] ergodicbreak commented on #14
In light of new work by Kyle we're consolidating this issue into #58 .

[2015-12-31 21:19] #14 closed, assigned to nobody

[2015-12-31 21:20] ergodicbreak commented on #26
In light of new work by Kyle we're consolidating this issue into #58 .

[2015-12-31 21:20] #26 closed, assigned to ergodicbreak

[2016-01-01 18:16] feend78 opened #59 "Set up base Room and Exit typeclasses"
In IRC, we've had a few discussions about implementing some baseline typeclass features for rooms and exits. I wanted to continue that here. Some topics that have come up:
- Using `ExtendedRoom` as the parent class of our `Room` typeclass
- Rooms incorporating a linear range / size that affects room capacity and combat
- Rooms having terrain types and corresponding MV costs to enter
- Use of "slow

[2016-01-01 18:48] feend78 commented on #59
So @ergodicbreak, I was thinking a bit more about how to handle parties, positioning, room capacity, and the linear range. I don't really like the idea of a truly one-dimensional model, with one character per space on the range field, with characters presumably "jumping over" one another.

I think a good balance between a truly linear system and the complexity of tracking positions on a 2D map wou

[2016-01-01 19:34] ergodicbreak commented on #59
@feend78 that's a good idea, and would work great for tunnels vs. open fields and the like.

[2016-01-02 19:12] feend78 commented on #59
Okay, so I have started a branch and made the changes to Room discussed above. I added a mv_cost property to it, which will be used by our Exit typeclass to deduct from characters' MV trait. This brings up the need to have those movement points regenerate. I assume that we'll be using Script objects to handle this, and that each character will have its own.

It makes me wonder whether we couldn't

[2016-01-03 01:13] ergodicbreak commented on #59
I like the idea of incorporating MV points into combat (I'd have to check the OA rules again to see if they already are a factor).

On doing a turn-based combat, I'm not necessarily opposed but I think it would change the feel from a H&S game to more of a RP game -- which may not be a bad direction to go, especially given that we've talked about including RPsystem. What do you think about that cha

[2016-01-04 01:14] ergodicbreak opened #60 "Create player configuration settings"
At some point we'll want to keep track of player configurable settings. Some possible settings:
- color on/off
- integrate EvMore paging mechanism
- prompt on/off and prompt configuration
- room descriptions on/off
- list exits after room description on/off

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29560909-create-player-confi

[2016-01-06 03:50] ergodicbreak commented on #51
Per conversations in IRC, we probably are moving to a more RP-centric turn-based combat system.

[2016-01-10 17:18] feend78 commented on #59
I took a look at the slow_exit module from contrib. I think we can use it for some inspiration, but for interaction with character traits in Ainneve, I don't think slow_exit by itself will work.

[2016-01-17 15:42] feend78 commented on #58
Hey @kylemecklem,

If you ever have some time to come to the #evennia IRC channel, I'd love to have a chat with you about world building for Ainneve. With the completion of the character generation menu and a couple of other tasks, we'll have enough of a skeleton of the game rules to begin building parts of the game world, and I'm hoping you'll be interested in playing a

I've been working on some

[2016-01-17 15:46] kylemecklem commented on #58
Sure thing! I've been meaning to get on there; and hang no problem learning
some basic commands! I've already begun work on a point-by-point layout for
the maps in question.
On Jan 17, 2016 7:42 AM, "Dan Feeney" notifications@github.com wrote:

[2016-01-17 16:59] feend78 commented on #6
This was completed by PR #56

[2016-01-17 16:59] #6 closed, assigned to nobody

[2016-01-28 14:55] feend78 commented on #59
Completed by PR #61

[2016-01-28 14:55] #59 closed, assigned to feend78

[2016-01-30 18:05] ergodicbreak commented on #51
Note that the draft document is now at https://github.com/evennia/ainneve/wiki/Combat-proposal

[2016-02-27 18:51] feend78 opened #64 "Implement Commands Based On Medicine Skill"
#### OA Origins

In the Open Adventure red book, the _Medicine_ abillity is described as

It is a one round action for which, if the skill test is successful, removes one condition token from the target character, but if failed, the target character must make a will save or lose one HP.

---
#### Ainneve Considerations

However, in Ainneve, we are treating _Medicine_ as a skill, rather than as a s

[2016-02-27 19:18] feend78 opened #65 "Implement Commands Based On Appraise Skill"
#### OA Origins

In the Open Adventure red book, _Appraise_ abillity is described as

It is an action that takes one minute for which, if the skill test is successful, the item's true value is revealed, but if failed, the character gets false information about the item.

---
#### Ainneve Considerations

Since we are considering _Appraise_ as a skill, rather than an ability, we have the option to c

[2016-03-22 09:02] abbacode opened #66 "Chargen error message"
I am using Windows 8.1 with Python 2.7.1 and I've noticed problems with the chargen command.

Using a fresh install, I login as the super user and attempt to create a new character:

<snip>
@charcreate temp

Welcome to Ainneve, the example game for Evennia.

To begin, select an Archetype. There are three base
archetypes to choose from, plus three dual archetypes which
combine the strengths and wea

[2016-03-23 04:10] feend78 commented on #66
Hi @abbacode,

I'm not able to reproduce this error locally. Could you confirm that you have updated your Evennia codebase to the current master?

[2016-03-24 05:28] abbacode commented on #66
@feend78, sorry, silly mistake on my behalf.

I've been updating the Ainneve codebase, but not the Evennia one.  That was indeed the source of the problem and it has now been resolved.

Please feel free to close this issue.

[2016-03-24 05:28] #66 closed, assigned to nobody

[2016-04-05 03:37] feend78 opened #67 "Build a limited, wilderness "training" area within Riverport"
Before we get too much farther on the combat and other game systems, we could use a small grouping of rooms that can serve as a testing ground.

This will be the first permanent parts of the Ainneve game world, and it should be comprised of 5-7 rooms near the center of Riverport. To anchor this area to the maps that @kylemecklem has created, it should include the bridge near the center of the town

[2016-05-25 14:30] j3b4 commented on #67
I'd love to contribute here. I presume the ideal way to contribute built areas is through Batch code.

[2016-05-25 15:15] feend78 commented on #67
Hi @j3b4, thanks for stepping up!

Batch code would certainly work, but in the wiki, we have sort of emphasized using `@batchcommand` scripts instead of `@batchcode` to try and lower the learning curve for those who might be interested in building content but not necessarily learning to code.

We have also extended Ainneve's base `Room` typeclass with some additional properties, along with builder

[2016-05-28 22:58] ergodicbreak commented on #67
I'm going to build the _Dancing Dragon_ inn (at coordinates 28. 17 -- see the more detailed map at https://docs.google.com/document/d/10C6YXdniCYWOX0HlYtR5RW2EBlsqscJBCJnjVr_-0WQ/pub ) as a starting location for new characters. It's on the same road as the bridge.

[2016-05-30 21:59] helix-0311 opened #69 "Unable to Equip Objects"
https://github.com/evennia/ainneve/blob/master/commands/equip.py#L92

After initial character generation (with a purchase of equipment):

---

When looking at the code, this seems to be the issue:

equip.py line 92:

[code]

---

This else statement always seems to fire, but is not able to find anything in the character's inventory. Tested this (without full debug) by doing:

print args
print obj

[2016-05-30 22:57] helix-0311 commented on #69
Some additional testing of this item:

[code]

This evaluates to True in the console, making it appear that the caller.search() method is just not inspecting the aliases.

[2016-05-31 00:00] helix-0311 commented on #69
https://github.com/evennia/evennia/blob/477391b5df650d06b358f1e8587813319a77d120/evennia/contrib/rpsystem.py#L1058

This appears to be the source of the issue.

Superusers are able to access the original search method, while non-superusers are unable to. Not sure the intended purpose of this block, as it would appear to block searches unless certain permission levels are met.

[2016-06-01 04:31] feend78 commented on #69
Based on Griatch's comments in the parallel issue raised in the evennia repository, the true problem is not this permissions check in the rpsystem module, but that the objects in Ainneve's starter inventory lack the `sdesc` property, which replaces the use of `key` to refer to in-game items.

The way forward on this is to add sdescs to all of the starter equipment objects. Since they were created

[2016-06-07 04:29] feend78 commented on #69
This issue has been fixed by a commit to the main Evennia library. Please update to the most recent **master** to get the fix.

The bugfix PR #71 is not related, and was something I just happened upon while looking into this issue.

[2016-06-07 04:29] #69 closed, assigned to nobody

[2016-08-01 01:50] fism opened #72 "world/build directory?"
"Build scripts are in the world/build/ directory and have *.ev or *.py extensions."

There is no world/build directory... am I missing something here?

[2016-08-01 06:09] ergodicbreak commented on #72
I thought this might have been left over from an old revision, but didn't see it just now -- where did you see it?

[2016-08-01 09:34] fism commented on #72
Limbo

[2016-08-01 14:26] feend78 commented on #72
We still don't technically have any build scripts in the master, and that note in the Limbo description was added a while ago when that was the planned location for them.

@ergodicbreak , we have since revised the location for build scripts, and in PR #70, the Limbo description has been updated accordingly. We could likely resolve this issue by just merging that PR, if it looks good to you.

[2016-08-06 17:21] stefanludlow commented on #72
@feend78

Looks like there are a few minor outstanding issues on the PR you referenced. Let's get those resolved and then let's get this sucker pulled in.

[2016-08-08 02:20] stefanludlow opened #73 "Chargen Needs to Allow Exit"
During chargen, if a user is in the middle of their work and needs to quit, there is no option to exit besides manually disconnecting.

[2016-08-08 02:28] stefanludlow opened #74 "Traceback on @Open"
When using the following @batchcommand ([PasteBin Link of Batchcommand](http://pastebin.com/SEjRQA2A)) in a fresh install of Ainneve, @open commands fail with the following traceback:

[code]

I can confirm that the same @batchcommand works just fine in production Evennia

Edit: adding console log: http://pastebin.com/NJmED4GU

[2016-08-08 04:21] feend78 commented on #74
In the example above, you have a syntax error. The comma between 'West' and 'w' should be a semicolon.

If correcting that does not fix the error, you should [open an issue for Evennia](https://github.com/evennia/evennia/issues/new) directly, as Ainneve has not overridden any of the fundamental building commands. We've only added the `@terrain` and `@rangefield` commands to set those properties on

[2016-08-08 04:21] #74 closed, assigned to nobody

[2016-08-08 04:40] feend78 commented on #73
I guess I'm wondering why we players need to quit in the middle of chargen, but I'm willing to discuss it.

The thing is, once you've quit chargen, you would just go back to the OOC menu, and attempting to do anything with the character just resumes where they left off. Characters are unplayable in game until they finish chargen because of how movement works, but from that menu, there are other ch

[2016-08-08 11:38] stefanludlow commented on #73
It's definitely a "nice to have," but I'd argue there shouldn't be areas of the game where you can't gracefully exit in some fashion or other as a matter of policy.

I'd think it'd be sufficient to drop their progress and return them to the ooc menu.

Sent from my iPhone

[2016-08-08 12:01] Griatch commented on #73
I agree with @stefanludlow that there should be some way to get out of a menu at any time, even if it means loosing progress (as long as this is communicated). The default EvMenu setup has a `quit` command in-built for this reason.

[2016-08-08 14:06] feend78 commented on #73
Fair enough. For the record, it will not drop their progress, and chargen will pick up wherever they left off when they try to use that character again.

[2016-08-08 14:33] feend78 commented on #73
This has been implemented in PR #75 , but due to upstream changes that affect unit tests, the Travis output will show errors. The tests have been fixed in PR #70, and it will likely be merged later today. #75 will be merged once the fix is in master.

[2016-08-08 15:06] stefanludlow opened #76 "Design NPC's for Ainneve"
Design the NPCs for Ainneve.

See: https://docs.google.com/spreadsheets/d/12DVWa-X3J8aXSxRQ5u53gDrFjIGq_gPyQvywxuDhhuU/edit?pref=2&pli=1#gid=407317812

See: https://docs.google.com/document/d/10C6YXdniCYWOX0HlYtR5RW2EBlsqscJBCJnjVr_-0WQ/pub for what has already been designed

[2016-08-09 02:32] feend78 commented on #73
Closed by PR #75

[2016-08-09 02:32] #73 closed, assigned to nobody

[2016-08-09 02:32] feend78 commented on #72
This has been addressed in PR #70

[2016-08-09 02:32] #72 closed, assigned to nobody

[2016-08-10 14:04] kylemecklem commented on #58
I recently made some additions to the design document. The two main sections are:
- **Riverport city** (starting at "A. North Gate") -- A bunch of descriptive text that players read as they wander about. I'm using a "2x" system, which means a general overview is read, then the player has a choice to "zoom in" on individual parts of that area and examine them for additional details/info.
- **Dialog

[2016-08-10 15:02] feend78 commented on #58
Hey @kylemecklem, I hope you've been having a good summer!

Your additions look great. The rooms in Ainneve support the same general description/detail description structure that you've used, so that will be super convenient. I scanned the dialog tree format, and it looks like it should be a good model for a dialog system. However, we'll have to include programming it on the to-do list.

I think g

[2016-08-10 16:38] stefanludlow commented on #58
Happy to assist. Ludlow.stefan@gmail.com

Sent from my iPhone

[2016-08-15 17:46] feend78 commented on #19
At this point, I think we have unit tests for almost all of the major components we have built. If we continue to build and maintain tests as we go, I don't it warrants a separate issue any longer.

[2016-08-15 17:46] #19 closed, assigned to nobody

[2016-08-15 22:45] feend78 commented on #51
Items for discussion:
- Turn-based format: OA does an Initiative roll, players take turns in the order determined. Should we instead allow all actions declared at once; resolve combat in order determined by Initiative roll each turn?
- Temporary Damage: Should there be a command to switch a character into "Temporary Damage" mode, or should there be different variants of attack commands to target s

[2016-08-16 04:09] stefanludlow commented on #51
Response: Just have an assigned probability of striking any given body location for our first instance. In the future someone can create an aim command that can override it. If we choose not to create this right now, I'd very much encourage us to place a "placeholder" area for this that processes damage and could potentially parse it and echoes out.

On the turn

roll 1d2, pick a side. If a group,

[2016-08-16 04:13] feend78 commented on #51
Notes from IRC conversation:
- MV Points: replenish every turn
- Death to Aimed Attacks
- Yes to Turn-based format with initiative rolls
- Have to escape combat before you can use exits
- Escape "safe time" (escape skill + std_roll()) \* 2 seconds
- Characters must enter combat to be placed on the range field
- For Temporary Damage, a specific command to enter combat along with commands to toggle

[2016-08-16 14:06] kylemecklem commented on #51
A slight suggestion to Power Points, rather than killing them outright: simplify and streamline the process so it happens mostly in the background.

Currently, Power Points are special bonus points that appear and disappear throughout combat, sort of like opportunities will appear and disappear in a battle. Seize the moment and you can cause someone's armor to be reduced by 1, or make someone blee

[2016-08-16 20:33] stefanludlow commented on #76
[16:29] <Griatch> If you specify a callable for an Attribute name in the prototype, it will be called every time you create a new instance with that prototype.
[16:29] <Griatch> I _did_ think about the use of random() you know. ;)
[16:30] <feend78> Griatch: nice
[16:30] <feend78> it was clearly there in the prototype examples in the wiki
[16:31] <feend78> i just didn't actually try it, and was wor

[2016-08-16 20:35] stefanludlow commented on #76
https://github.com/evennia/evennia/wiki/Spawner

[2016-08-17 03:38] feend78 commented on #51
I like the idea of keeping PPs as @kylemecklem suggests, handling their effects automatically and without player intervention. For equipment with multiple abilities, I agree with allowing the player to select an active effect before or during battle.

[2016-08-17 11:36] stefanludlow commented on #51
Agreed

Sent from my iPhone

[2016-08-18 15:15] stefanludlow opened #78 "@Spawn & Lambda Intereference"
When utilizing lambda in a prototype dictionary, the following traceback occurs:

http://pastebin.com/NesWEG1C

[2016-08-18 19:30] #78 closed, assigned to nobody

[2016-08-22 03:03] stefanludlow opened #82 "Sdescs will not evaluate between a and an based on potential {}, e.g. a yellow rat, an orange rat"
When dynamic descriptions are created, there is currently nothing in place to automatically evaluate them for grammatical correctness.

The logic should be, for sdescs:
If the first letter of the second word in a string beginning with "a" or "an" is a consonant, then the first word of the string should be "a"
If the first letter of the second word in a string beginning with "a" or "an" is a vowel,

[2016-08-22 17:14] Griatch commented on #82
This should probably be made as a feature request against Evennia rather than against Ainneve.

[2016-08-23 23:42] feend78 commented on #76
Nice work on the prototypes @stefanludlow. Let's keep this issue open and just pivot into AI with it.

[2016-08-30 20:54] feend78 commented on #82
I wrote this up as Issue/Feature request [#1028](https://git.io/viJiD) in Evennia.

[2016-08-30 20:54] #82 closed, assigned to nobody

[2016-08-31 17:01] stefanludlow commented on #28
This can be closed as the prototypes_mobs.py covers it. Random stat generation can be accomplished via lambda.

[2016-08-31 17:03] stefanludlow opened #83 "NPC AI - Behavior Trees"
Issue created for @andrei-pmbcn to track development on behavior tree AI contrib. This will cover AI for Ainneve.

[2016-08-31 17:03] stefanludlow commented on #76
Can be closed, further progress will be tracked on #83

[2016-08-31 17:03] #76 closed, assigned to nobody

[2016-09-01 20:46] andrei-pmbcn commented on #83
I'll start working on it in at most two days' time.

[2016-09-02 19:20] feend78 commented on #65
Implemented in PR #80

[2016-09-02 19:20] #65 closed, assigned to nobody

[2016-09-15 16:45] feend78 commented on #83
@andrei-pmbcn,

I've seen some of your discussion about your AI system in the IRC channel, and I'm curious why you wanted to implement it with custom models? Is there some query that is extra complicated for loading AI info? I have something of an aversion to including custom models unless absolutely necessary, but I'm willing to be convinced.

[2016-09-26 18:14] andrei-pmbcn commented on #83
I've finished coding the AI system (unless there were a few bugs I didn't catch) and written the documentation for it. As per my discussions with @feend78 over IRC, I am using scripts instead of custom models.

[2016-09-28 05:52] feend78 commented on #67
I think the Grassy Meadow is working well enough for the original intent of this task. We can make separate issues for other areas like the _Dancing Dragon_.

@j3b4 and @ergodicbreak: I'm quite close to finishing combat for Ainneve. I'm hoping you would be up for checking it out and giving feedback once I get a PR together. I hope things are well with you guys!

[2016-09-28 05:52] #67 closed, assigned to nobody

[2016-09-28 10:31] j3b4 commented on #67
Hi Dan,

Yes things are well, though I've been away from Evennia for several months.
It would be nice to start working on a few projects again.

On Wed, Sep 28, 2016, 02:52 Dan Feeney notifications@github.com wrote:

[2016-09-28 14:30] feend78 commented on #51
Hey there, does anyone builder-ish who is subscribed to this issue want to name a thing?

I have basic combat mostly complete at this point, and I've added some basic death mechanics, but I want to build a shrine or similar as a location for PCs to respawn. I plan to build it to the south of existing Grassy Meadow and main road in Riverport. Would someone like to suggest a name for the respawn loc

[2016-09-28 16:20] Griatch commented on #51
Some suggestions:
1. "The Grassy Knoll"
2. "Shrine of Grass"
3. "The Shrine of the Green lady"
4. "Grass boot hill"

:)

[2016-09-29 21:47] feend78 commented on #28
Agreed. We have defined a mechanism for handling NPC creation. We will still need to refer to the [character creation manual](https://github.com/openadventure/Open-Adventure/blob/master/secondary_projects/custom_character_creation_manual/custom_character_creation_manual.pdf) as we define NPC prototypes.

[2016-09-29 21:47] #28 closed, assigned to nobody

[2016-09-30 16:07] feend78 opened #85 "Create NPC shop(s)"
Currently in Ainneve, the chargen menu provides the opportunity to "purchase" equipment, but we do not yet have an in-game NPC shop.

Shops can generally follow the structure of the [NPC Shop Tutorial](https://github.com/evennia/evennia/wiki/NPC%20shop%20Tutorial).

[2016-10-02 15:25] feend78 commented on #51
OK, I have pushed [this draft](https://github.com/feend78/ainneve/tree/combat) of combat to my account. I'm holding off on creating a pull request because I haven't really had anyone other than me **play-test** it, built any unit tests, or wrote appropriate docstrings in a lot of places. However, if anyone wants to help with the play testing bit, please feel free to clone my branch and give it a t

[2016-10-02 18:17] stefanludlow commented on #51
Will see if I can play test this week, traveling on business in SF still.

I like the Grassy Knoll >_>

Sent from my iPhone

[2016-11-21 08:45] maxsond commented on #85
I'm claiming this task: https://trello.com/b/JfURQL0D/ainneve-npc-shop
Also see https://groups.google.com/forum/#!category-topic/evennia/ainneve/nJKUl2QDuiU

[2016-12-05 21:37] feend78 opened #89 "Build Zodiac Square"
The existing build scripts contain central Riverport, east of the Kai River. To the west of the bridge where new players begin their quest, is _Zodiac Square_.

This description is based on the world building document (Issue #58). The main road of Riverport runs through the square, and at its center stands a fountain. In the immediate square area are four shops:

* General Goods Shoppe
* AEther Sh

[2016-12-07 20:41] #85 closed, assigned to maxsond

[2016-12-08 19:09] maxsond commented on #89
Is there anything more to this than the build scripts for the rooms? I can't commit to doing this just yet because of holiday plans, but just checking if I have the right idea of the scope.

[2016-12-08 22:35] feend78 commented on #89
Yes, this is primarily an area building task, though it could certainly include some coding if your imagination takes off and you want to implement some custom object behavior.

[2017-01-05 02:47] #51 closed, assigned to feend78

[2017-01-09 02:18] stefanludlow opened #91 "Bug: Traceback on Combat"
Just wanted to put this here, got a traceback testing combat.

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40751589-bug-traceback-on-combat?utm_campaign=plugin&utm_content=tracker%2F18622666&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_c

[2017-01-09 02:53] stefanludlow commented on #83
@andrei-pmbcn, just wanted to ping you regarding this particular item?

[2017-01-09 15:08] feend78 opened #92 "Customize combat messaging for weapons"
Currently, all weapons use the base Weapon typeclass's combat messaging. They are stored in an dict attribute called `messages` that has four keys for the four possible weapon attack outcomes.

* `dmg_hp` - displayed when the weapon is used to damage the target's HP
* `dmg_sp` - displayed when the weapon is used to damage the target's SP
* `dodged` - displayed when the attack is dodged
* `missed`

[2017-01-18 02:06] stefanludlow opened #93 "Ever Expanding Linebreaks in Chargen"
In chargen, linebreaks expand in width until there is a horizontal scroll on the screen.

[2017-01-19 19:24] feend78 commented on #93
I think I understand what you're describing here. The horizontal line between the text and options when displaying a menu node gets quite long under certain circumstances (I think primarily having to do with color/ansi codes).

It's an issue with EvMenu, and it's been in the back of my mind to put together a test case and create an issue for it against the main Evennia repo, but I haven't made tim

[2017-01-19 19:24] #93 closed, assigned to nobody

[2017-01-22 04:13] stefanludlow commented on #92
Spent some time working on this over the weekend, mainly pondering how best to do it. It's a touch beyond my skills, but if you could provide me with an example of what this would look like on the prototypes_weapons.py file, I'd be happy to fill this in for all the other records.

For my own notes, weapons.py line 29, rulebook.py 438

[2017-01-22 22:40] stefanludlow commented on #89
Feend,
After discussing with Griatch, thought about compacting Riverport a bit. I've made the map and have the batchcommand file just about ready if you approve. I've kept as much as possible still in line with the original docs for quest purposes, with a few additions for some minor hooks:

http://imgur.com/a/z6tag

[2017-01-23 19:57] feend78 commented on #92
@stefanludlow, here's an example:

[code]

[2017-01-23 22:29] feend78 commented on #83
In the combat branch, I included basic combat AI for NPCs tagged "AGGRESSIVE". Per discussion on IRC, we're going to consider that good enough for our initial iteration.

[2017-01-23 22:29] #83 closed, assigned to andrei-pmbcn

[2017-04-05 21:13] texdarkstar opened #94 "settings secret key has been publicized"
I'm not sure if it matters, not sure how exactly it is used, but the secret key in server\conf\settings.py is actually included in the repo.

    # The secret key is randomly seeded upon creation. It is used to sign
    # Django's cookies. Do not share this with anyone. Changing it will
    # log out all active web browsing sessions. Game web client sessions
    # may survive.

Posting this as an

[2017-04-07 16:59] feend78 opened #95 "Magic"
For the first iteration, we'd like to get at least some level of magic working.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43907648-magic?utm_campaign=plugin&utm_content=tracker%2F18622666&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2017-04-07 20:05] feend78 commented on #95
I've discussed this a bit with @stefanludlow, and even though Kyle had come up with some spells in his document, we feel that they would involve adding more complex mechanics than we are ready for at this time. So we are now thinking that we'll maybe start small with just a few simple combat-related spells, and work from there.

### Spell Ideas

_Black Spells_

Spell: **Arcane Bolt**
Tier 0 - Leve

[2017-05-22 14:43] #94 closed, assigned to nobody

[2017-06-04 07:15] Griatch commented on #94
It's not a huge deal, but if it's included one should probably point out that the user should change it (just plop some new chars in there) before making theor ainneve game public.

[2017-06-04 07:17] Griatch commented on #95
Sounds like a ok starting level for implementing spells. I take it all "ranged' things like arcane bolt is going to stay in-room?

[2017-06-04 18:27] texdarkstar commented on #94
Okay. What is this key used for specifically though? Should I move this to the forums?

[2017-07-17 00:30] aliceafterall commented on #95
In Open Adventure, do players able to cast spells have to "learn" them, or do they just have to be of appropriate level?

[2017-07-17 12:10] aliceafterall commented on #57
I've mostly completed this, but I wanted to ask, how difficult should the perception check be for each of race, archetype, health, and stamina?

For health and stamina, should it be perception, or the Medicine skill?

I've already completed the rest of it - the return_appearance hook doesn't show inventory items, only equipped items, and where they're equipped ( right arm, left arm, head, etc )

[2017-07-21 19:32] j-f1 commented on #89
@stefanludlow Why don’t you put that into a PR so people can look at it?

<sub>Tip: if you mention `closes #89` in the PR, this issue will automatically be closed when the PR is merged.</sub>

[2017-07-21 19:34] stefanludlow commented on #89
That would make too much sense! Will review what I have and either push a pr or paste here

Sent from my iPhone

[2017-08-05 10:37] j-f1 commented on #89
@stefanludlow Have you had a chance to look at this yet?

[2017-08-06 19:27] stefanludlow commented on #89
I have not, and am unfortunantely internal atm without the pc that has
these on the actual db. That said, I have the text of them, which is here:

This is the building file for central.ev, it just needs the placeholder
descs replaced, which can be done further on.

https://pastebin.com/Yjgeh9jc

On Sat, Aug 5, 2017 at 6:37 AM, Jed Fox <notifications@github.com> wrote:

[2017-08-07 12:18] j-f1 commented on #89
I’m working on the file that @stefanludlow posted, and I should be posting a PR today.

[2017-09-25 22:15] aliceafterall opened #100 "Evennia Master @ 0.7"
Since Ainneve is a demo game for Evennia, it seems like the time is ripe to update to 0.7. I'll happily write a PR for the changes that are needed, if wanted, but the process is described by Griatch in the forums, and is pretty easy!

Edit: Of course, we have batchcode and such to worry about, but still...

[2017-09-29 07:21] Griatch commented on #100
@chainsol: I would suggest you go ahead and do this - no need to ask permissions to *create* a PR. Once the PR is up you ping Dan (@feend78) for review since it might be that he hasn't activated auto-subscriptions to changes in this repo and might not get notifications.

[2017-09-29 15:14] aliceafterall commented on #100
Initial PR for this in #101; I need some eyes on the tests that are failing. There's something odd with mock in the setup and tests in world/ are failing. I didn't see anything related to the Player -> Account migration though - it runs just fine.

[2017-09-29 15:27] aliceafterall opened #102 "Characters can Attack Themselves"
We're not checking that the target is not the same as the attacker - therefore one can enter combat with themselves.

###
Steps to Reproduce:
1. type "attack self"
2. Declare action - for instance, "kick self"

###
Expected/Actual
I would expect a message of the sort "You can't attack yourself", but instead I'm able to enter combat with myself and I get stuck there. I also get a "stopiteration" tr

[2017-10-02 21:34] aliceafterall opened #103 "Development branch for Ainneve"
With the move to 0.7 on Evennia core, I wonder if it wouldn't make sense to have a development branch on Ainneve as well - somewhere we can merge PRs that have the chance to be a bit more bleeding-edge.

@feend78, any thoughts?

Anyone else, please feel welcome to chime in as well.

[2017-10-02 21:36] aliceafterall opened #104 "Improve Testing"
Ainneve's tests fail under 0.7, with the PR I made. Other than the unittests, everything works - the commands tested by the failing unittests work correctly in game.

Overall, improving coverage, setting up coveralls, and fixing up tests to be more readable and better commented is a very important step to get Ainneve back up and running.

<bountysource-plugin>

---
Want to back this issue? **[Post

[2017-10-10 22:48] aliceafterall commented on #103
I've made a new branch, develop, and new features or breaking changes should be built against this - similar to Evennia core. For now, anyone wishing to use Evennia 0.7 should use the develop branch.

[2017-10-10 22:48] #103 closed, assigned to nobody

[2017-10-10 22:50] aliceafterall commented on #100
This is implemented in develop - anyone wishing to run Ainneve under 0.7 should use this branch.

[2017-10-10 22:50] #100 closed, assigned to nobody

[2017-10-11 17:14] aliceafterall commented on #102
#106 fixes. Thanks, @dgisser!

[2017-10-11 17:14] #102 closed, assigned to nobody

[2017-10-18 08:34] tgrgds commented on #64
Hiya, should medicine-related commands be placed in a new file in `commands/skills` or in `combat.py` since it can only be used in combat?

Also, should medicine be its own category in the combat action list?

[2017-10-18 16:16] aliceafterall commented on #64
I would suggest `commands/skills`, since you might use it out of combat - let's say "cure poison", for instance. I'm actually unsure of how Ainneve currently treats skills like this, that might be out of combat...
As to medicine skills being their own category in combat, I would say yes to that as well. Just to make it easier to read while in combat!

Oh, you will want to build against develop - i

[2017-10-19 20:52] aliceafterall commented on #104
The recent push to develop fixed our testing woes - use the latest version of Evennia and the develop branch of Ainneve, and our tests work again. We _still_ need to improve them, especially readability wise.

In a lot of our tests we directly check hardcoded strings - perhaps we can work on that next?

[2017-10-24 19:58] philygee commented on #2
Hey there, are you still looking for help with docstrings? I'd like to help!

[2017-10-24 20:07] aliceafterall commented on #2
Absolutely, that would an excellent thing. Please build against develop - the master branch is not updated for 0.7 yet!

[2017-11-16 21:38] aliceafterall commented on #95
On Evennia core, there's a new PR for a magic system - I'm wondering if it might be worth adapting it to our needs? [Assuming the PR gets approved](https://github.com/evennia/evennia/pull/1518). The same developer @FlutterSprite made a turn-based combat system that we likely also could adapt - might be worth using it!

[2017-11-16 23:27] FlutterSprite commented on #95
Once I have the newest expansion for 'turnbattle' complete (which implements items and status effects), I'm going to make a version that has everything integrated together - that'll include being able to set ranges on spells, spells causing status effects, and similar! I think it'll be a good fit!

[2017-12-09 19:39] Russell-Jones opened #108 "Lockfuncs based on traits"
Should there be lockfuncs based on traits provided with Ainneve (to allow things akin to https://github.com/evennia/evennia/wiki/Locks#a-complete-example-of-setting-locks-on-an-object ), or would this be out of scope? The default attr*() lockfuncs only look one level deep, and don't understand the traits system.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://

[2017-12-09 19:42] aliceafterall commented on #108
Yes, I'd think so! We'd welcome a PR for something like that.

[2018-01-24 17:17] texdarkstar opened #109 "doc inconsistancies in traits.py for gauge traits"
According to the [docs](https://github.com/evennia/ainneve/blob/master/world/traits.py) this is what you should see when using `str(character.traits.hp)`:

    'HP:           10 /   10 ( +0)'

But if you add something to the modifier, it doesn't affect the view of the max:

    'HP:           15 /   10 ( +5)'

Note: this is with a gauge trait.
If this is expected and normal, then the docs are inac

[2018-01-24 17:36] aliceafterall commented on #109
Hello! Thanks for opening this issue!

As to the display, this does seem to be a display bug, though the value one has set max to does matter - if one uses `base` as the value instead of `actual`, you might get this behavior. I think this is because our `__str__` method uses `self.actual` and `self.base` as the two values, instead of `self.max` for the second part.

Yes, that should be `.fill_gaug

[2018-02-08 18:39] aliceafterall opened #110 "Attempting to use @py to view traits crashes server"
Attempting to use something like:
[code]
crashes the server. There are no error messages outputted, and Python and Twistd must be force-killed to be able to fix it.

I have no working theories as to why this is - any help is welcome!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/54813380-attempting-to-use-py-to-view-traits-crashes

[2018-02-08 19:01] aliceafterall commented on #110
Further information: Using `@py self.msg(str(self.traits))` "corrects" this issue, in that it doesn't crash the server.

[2018-02-08 19:06] Griatch commented on #110
Is the traitshandler iterable? If so, it may confuse the `msg(text=...)` method you are calling. The `text` outputfunc expects a string; but if it is not getting a string but an iterable, it assumes it's a part of the argument tuple for the `text` outputfunc.

[2018-02-08 19:10] aliceafterall commented on #110
@Griatch It doesn't have an `__iter__` method, but if I attempt to call
[code]
It also crashes...

[2018-02-08 20:04] Griatch commented on #110
@chainsol That more sounds like an error at the serialization level. I take it the Portal log is not saying anything either?

[2018-02-08 20:06] aliceafterall commented on #110
@Griatch Yup, no output to any log. Including if I run `evennia start -l`, still no output to any log or the screen.

[2018-02-08 20:12] Griatch commented on #110
@chainsol  https://github.com/evennia/evennia/commit/8a1fdb834b6be88e507a0d90f5cc5216590e35ff changes the text-outputfunc handling of Evennia to be a little more lenient - this is such a common error. Does that resolve the problem? I also added it to the develop branch.

[2018-02-08 20:17] TehomCD commented on #110
Infinite loop, it looks like. `__getitem__` is called with successively higher values until IndexError is raised, which I think is prevented because `get()` doesn't raise an IndexError if the value is not in cache.

[2018-02-08 21:23] aliceafterall commented on #110
@TehomCD So, you mean that we end up essentially calling `__getitem__(0)__`, `__getitem__(1)`, etc? I suppose we should be raising `IndexError` if we don't have that value?

[2018-02-08 21:32] TehomCD commented on #110
@chainsol - I think an easier approach might be to define `__iter__` with what you'd expect to see if you iterate through the traits, since that particular behavior of `__getitem__` only occurs if `__iter__` isn't defined. That'd let you keep the existing behavior of `.get()` which might be a pain to change: I wouldn't know how much depends on it not raising IndexError currently.

[2018-02-08 21:39] aliceafterall commented on #110
@TehomCD OK, that seems like it would make more sense - yes, it would be a pain to change that behaviour. Plus, `__iter__` is nicer anyway!

[2018-02-09 18:29] BlauFeuer commented on #110
`@py for trait in self.traits: pass`
crashes for me, also - more of a hang with no log entry:
[code]
on master branch, so I have to kill the process then remove the PID file.

[2018-08-30 17:29] aliceafterall opened #111 "Ainneve fails to start under Evennia Dev 0.8"
## Problem
When attempting to start Ainneve under Evennia's develop branch (0.8), we get a traceback:
[code]

Not a lot of fun, and if you remove the lockfunc in question everything works again.

[2018-08-30 19:51] TehomCD commented on #111
That can happen when evennia's init method hasn't been called, so `DefaultScript` is still None, resulting in `cannot create 'NoneType' instances`.

[2018-08-30 19:53] aliceafterall commented on #111
It is strange though, as it doesn't happen currently under 0.7, but does under 8. Removing the lockfunc does fix it, so I assume you're right.

[2018-08-31 07:45] Griatch commented on #111
Hm, the `_LOCK_HANDLER = LockHandler(_ObjDummy())` is new in 0.8, it's there so that you can do stand-alone lock checks against lock strings without needing to use the lockhandler of an object first. Maybe that needs to be under a delayed execution to avoid this issue.

[2018-08-31 07:59] Griatch commented on #111
@chainsol In https://github.com/evennia/evennia/commit/9d98a59be3b8e42e4833b8c2c251740931101ad1 I change the order of import for the lockhandler dummy upstream. Could you check if that helps with this issue?

[2018-08-31 20:49] aliceafterall commented on #111
@Griatch: This fixes it, excellent! Thanks!

[2018-08-31 20:49] #111 closed, assigned to nobody

[2018-10-08 20:48] aliceafterall opened #112 "Rework Prototypes for Evennia 0.8"
Evennia 0.8 reworked the prototype system, and we make extensive use of it in our world creation code and our character generation.

To fully support Evennia 0.8, we need to rework all of our prototypes and all our code that deals with prototypes (for instance, chargen.py) to use the new prototype system. Currently prototypes are broken, though I've pushed a couple patches that should get Ainneve

[2018-10-08 20:50] aliceafterall opened #113 "Remove Ainneve's custom combat system and make use of Evennia's TurnBattle contrib"
I'd like to further evaluate this idea, but overall the concept is that Ainneve should be a good example for Evennia itself. To further this goal, I'd like to replace our current custom and very broken combat system with the TurnBattle contrib from Evennia.

However, this will need some tweaking to actually work - I'd like to keep our current stat system and such, so I'll need to evaluate how this

[2020-04-08 09:04] serprinss commented on #113
perhaps you should have a look at some combat related issues including #64 and #92

[2020-04-08 12:16] aliceafterall commented on #113
Hi! Yes, that's a good idea - due to some life events for me I've been gone for a while.
I'd love to see these issues worked out, however Ainneve isn't built against the latest Evennia branch yet, so that would need to be sorted first. 😁

Due to the COVID-19 pandemic, I'm beginning to have free time again, so I'd welcome contributions to Ainneve, particularly in getting it up-and-running against t

[2020-04-08 12:53] friarzen commented on #113
On Wed, Apr 8, 2020 at 8:16 AM Nicholas <notifications@github.com> wrote:

I got ya covered for the most part:
https://github.com/evennia/ainneve/pull/114

Still needs a bit of work around the prototypes, since those have been
highly reworked from when Ainneve originally started using them.

--friarzen

[2020-09-25 19:19] davewiththenicehat opened #115 "traits.clear() fix"
Hello

Using this class found and resolved a bug.
The unit test fails on line 326 of `traits.py`. The dictionary being looped through changes when it is in the loop.

I was able to resolve by changing the method to.
[code]

[2020-09-25 22:01] friarzen commented on #115
Thanks, that looks like a good python2->python3 fix.  Added.

[2020-09-25 22:01] #115 closed, assigned to nobody

[2020-09-26 04:09] ergodicbreak opened #116 "Ainneve revival"
Hello all past, present and future contributors to Ainneve. I'm opening this issue to check on the current status of Ainneve and see what people think about an Ainneve revival. Past contributors such as @whitenoiseoss @chainsol and @feend78, feel free to comment, current maintainers such as @friarzen please add your thoughts, and I'm sure there are others I'm missing so please add to the roll call

[2020-09-26 04:40] friarzen commented on #116
I'll chime in to start with what I stated on IRC.  I do think Ainneve is a valuable project and I think most people have used it as an example on how evmenu, handlers, commands, etc. work, but I think it is actually too complex for it's primary audience.  Hattiehats and petriomelony both quickly chimed in with similar views.

I believe Ainneve provides the most value as a showcase for all of Evenn

[2020-09-26 11:18] Griatch commented on #116
To answer the question - yes Ainneve is definitely still valuable as a project. Currently it's mainly used for people to look through and pick out useful snippets.

I initiated the Ainneve project with the intention of having it be a community project. Therefore I have also deliberately tried to stay hands-off with it. What Ainneve needs is an active, enthusiastic maintainer that stays for the lon

[2020-09-28 19:12] ergodicbreak commented on #116
Just a note that I'll be on vacation this week, and I'll have time to respond fully this weekend. However I'm pretty much in alignment with your comments here.

[2020-09-28 21:51] kylemecklem commented on #116
I'm always around to help with content writing or creative consulting.
If you need some flavor text, etc. I'm your man.

On 9/28/20 12:12 PM, George Oliver wrote:

[2020-10-03 17:37] ChrisLR commented on #116
I agree with switching to Contribs and Develop branch.
Using contribs will save us a lot of time and maintenance, while using the Develop branch might give us a few issues here and there the efforts will contribute to stabilize evennia 1.0 and get it ready faster.

[2020-10-03 17:54] friarzen commented on #116
I think we've had enough answers here that I'll go ahead and close this issue, if there is further discussion on features/direction, I'd say it belongs over on the wiki

[2020-10-03 17:54] #116 closed, assigned to nobody

[2020-10-03 17:54] friarzen commented on #112
I think this is working well enough now to go ahead and close this issue.

[2020-10-03 17:54] #112 closed, assigned to chainsol

[2022-08-27 14:34] friarzen commented on #113
I'm gonna close this issue, since the game is starting to go in a different direction entirely, and Griatch is now working on his Evennia Demo game.

[2022-08-27 14:34] #113 closed, assigned to chainsol

[2022-08-27 14:36] friarzen commented on #109
I am going to close this since the game now uses Evennia's Trait Contrib instead of this games original implementation.

[2022-08-27 14:36] #109 closed, assigned to nobody

[2022-08-29 20:24] ChrisLR opened #126 "Overhaul Combat System"
Tasks left

[2022-08-30 16:44] InspectorCaracal commented on #126
The two biggest blocks at the moment to combat being usable:

### A defined system for skill/stat checks
This is _the most important_ obstacle. A good half of the to-do items up there are relatively trivial additions except that they require hooking into a currently non-existent skill check system.

### NPC combat AI
Combat can technically be usable without this, but it would only be PvP or like..

[2022-08-30 17:05] kylemecklem commented on #126
From a design perspective, Open Adventure can easily support skill/stat checks, even when combined with combat. The base system for skill checks are: primary ability (base stat) + skill points (if any) + dice roll. If the result is less-than the target number, it's a failure. If it's equal, it's a tie. If it's greater-than, it's a success. When combining this with combat, I'd recommend a few metho

[2022-08-30 17:18] InspectorCaracal commented on #126
@kylemecklem Thanks for the write-up! I do want to clarify for anyone coming into this issue, however, that what I mean here by "skill/stat check system" is the actual code implementation for whatever rules are decided on, as opposed to the rules themselves. Deciding on the skill-check rules is important, but they'll need to be implemented in code before the combat system can be made playable.

[2022-08-30 17:26] ChrisLR commented on #126
@kylemecklem We're currently attempting to revive the Ainneve project and we thought Open Adventure was dead, since the repo has had no activity in the last 4 years and the rulebook link is dead.

I'm glad to see we were wrong!
If you're still interested in this project, you could join us in the evennia discord, there's a channel for our current efforts, we could discuss it there :)